* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
  width: 100vw;
}

.tab-bar {
  bottom: 0;
  background: #f6f6f6;
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  box-shadow: 0 -3px 3px rgba(125, 125, 125, .2);
}

.tab-bar>div {
  height: 100%;
  width: 100%;
  text-align: center;
}